
.centerHeading{
    font-family:'Cambria, Cochin, Georgia, Times, 'Times New Roman', serif';
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inputBox{
    border-radius: 8px;
    border: 1px solid gray;
    padding: 10px 0px 10px 25px ;
    width: 353px;
}
.Options{
    border: 1px solid grey;
    border-radius: 8px;
    padding: 10px;
    height: 50px;
    text-align: center;
    font-weight:500;
    margin: 0px 5px;
}
.Continue{
    border-radius: 8px;
    width: 353px;
    height: 44px;
    border: none;
    background-color: #3643FB;
    color: white;
    margin: 15px 0px 15px 0px;
}
.NameImg{
    background-color: orange;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.Image{
    border-radius: 16px;
}
.back{
    background-image: url('./assets/Airplane.jpg');
}
