
.centerHeading{
    font-family:'Cambria, Cochin, Georgia, Times, 'Times New Roman', serif';
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inputBox{
    border-radius: 8px;
    border: 1px solid gray;
    padding: 10px 0px 10px 25px ;
    width: 353px;
}
.Options{
    border: 1px solid grey;
    border-radius: 8px;
    padding: 10px;
    height: 50px;
    text-align: center;
    font-weight:500;
    margin: 0px 5px;
}
.Continue{
    border-radius: 8px;
    width: 353px;
    height: 44px;
    border: none;
    background-color: #3643FB;
    color: white;
    margin: 15px 0px 15px 0px;
}
.NameImg{
    background-color: orange;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.Image{
    border-radius: 16px;
}
.back{
    background-image: url('./assets/Airplane.jpg');
}
.card{
    width: 300px;
    border-color: gray;
    border-radius: 20px;
   
}
/* Global styles */
body {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  /* Light Mode Styles */
  .light-mode {
    background-color: #ffffff;
    color: #000000;
  }
  
  /* Dark Mode Styles */
  .dark-mode {
    background-color: #121212;
    color: #ffffff;
  }
  
  /* Optional: Style for the button to toggle dark mode */
  button {
    padding: 10px 20px;
    background-color: #3643fb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }